<%#
 Copyright 2013-2019 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<style>
    table {
        width: 100%;
    }

    mat-form-field {
        font-size: 14px;
        width: 100%;
    }

    mat-cell,
    .mat-cell,
    mat-footer-cell,
    .mat-footer-cell,
    mat-header-cell, .mat-header-cell {
        padding: 0.75rem !important;
    }

</style>
<div class="page-layout simple fullwidth inner-sidebar">

    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <a routerLink="/">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                </a>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text"
                      jhiTranslate="<%= i18nKeyPrefix %>.home.title"><%= entityClassPluralHumanized %></span>
            </div>
            <div class="h2 mt-16" jhiTranslate="<%= i18nKeyPrefix %>.home.title"><%= entityClassPluralHumanized %></div>
        </div>
        <%_ if (!readOnly) { _%>
            <a mat-raised-button class="reference-button mt-16 mt-sm-0" [routerLink]="['/<%= entityUrl %>/new']">
                <mat-icon class="mr-8">add_circle_outline</mat-icon>
                <span jhiTranslate="<%= i18nKeyPrefix %>.home.createLabel">
             Create a new <%= entityClassHumanized %>
            </span>
            </a>
        <%_ } _%>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
                <<%= jhiPrefixDashed %>-alert-error>
            </<%= jhiPrefixDashed %>-alert-error>
            <<%= jhiPrefixDashed %>-alert>
        </<%= jhiPrefixDashed %>-alert>
        <div class="alert alert-warning" *ngIf="<%= entityInstancePlural %>?.length === 0">
            <span jhiTranslate="<%= i18nKeyPrefix %>.home.notFound">No <%= entityInstancePlural %> found</span>
        </div>

        <mat-form-field *ngIf="<%= entityInstancePlural %>?.length > 0">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="mat-elevation-z8" [ngStyle]="{display:  <%= entityInstancePlural %>?.length > 0? 'block' : 'none'}">
            <table style="width:100%" mat-table [dataSource]="dataSource" matSort>

                <!-- Dynamic Generated Columns -->

                <ng-container *ngFor="let cols of displayedColumns">
                    <ng-container matColumnDef="{{cols}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <ng-container [ngSwitch]="cols">
                                <span *ngSwitchCase="'id'" jhiTranslate="global.field.id">ID</span>
                                <span *ngSwitchCase="'options'" jhiTranslate="global.field.options">Options</span>
                                <span *ngSwitchDefault
                                      jhiTranslate="<%= i18nKeyPrefix %>.{{cols}}">{{cols}}</span>
                            </ng-container>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <ng-container *ngIf="cols === 'options'; else standard_column">
                                <a mat-raised-button color="primary"
                                   [routerLink]="['/<%= entityUrl %>', row.id, 'view' ]">
                                    View
                                </a>
                                <%_ if (!readOnly) { _%>
                                <a mat-raised-button color="accent"
                                   [routerLink]="['/<%= entityUrl %>', row.id, 'edit']">
                                    Edit
                                </a>
                                <a mat-raised-button color="warn"
                                   [routerLink]="['/<%= entityUrl %>', { outlets: { popup: row.id  + '/delete'} }]"
                                   replaceUrl="true"
                                   queryParamsHandling="merge">
                                    Delete
                                </a>
                                <%_ } _%>
                            </ng-container>
                            <ng-template #standard_column> {{row[cols]}}</ng-template>
                        </td>
                    </ng-container>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <ng-container>
                <mat-paginator #paginator
                               [ngStyle]="{display:  <%= entityInstancePlural %>?.length > 0? 'block' : 'none'}"
                               [length]="totalItems"
                               [pageIndex]="pageIndex"
                               (page)="pageEvent = getServerData($event)"
                               [pageSize]="itemsPerPage" showFirstLastButtons>
                </mat-paginator>
            </ng-container>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
